In [ ]:
import os
import numpy as np
import pandas as pd

In [ ]:
targetName = 'item_cnt_month'
#competitionDir = '/kaggle/input/competitive-data-science-predict-future-sales'
submission = pd.read_csv('sample_submission.csv')

In [ ]:
preds = []
#df = pd.read_csv("final_sub.csv")
#preds.append(df[targetName])
df_1 = pd.read_csv("submission_blend_1.csv")
preds.append(df_1[targetName])
df_2 = pd.read_csv("submission_bonus.csv")
preds.append(df_2[targetName])
df_3 = pd.read_csv("submission_lgb.csv")
preds.append(df_3[targetName])
df_4 = pd.read_csv("submission_top.csv")
preds.append(df_4[targetName])

In [ ]:
submission[targetName] = np.array(preds).mean(axis=0).transpose()
submission.to_csv("submission_3.csv", index=False)

In [ ]:
submission

            ID  item_cnt_month
0            0        0.521500
1            1        1.572729
2            2        1.040546
3            3        0.711464
4            4        3.071527
...        ...             ...
214195  214195        0.107131
214196  214196        0.025812
214197  214197        0.056302
214198  214198        0.013820
214199  214199        0.043583

[214200 rows x 2 columns]